.box {
    overflow: hidden;
    border: 1px solid rgba(209, 205, 205, 1);
    box-shadow: rgb(170, 170, 170) 2px 2px 4px 0px;
}

.boxHead {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    padding: 2px 2px 2px 10px;
    background-color: #f1f1f1;
    line-height: 50px;
}

.listMainBox {
    overflow-x: scroll;
}

.headBox div {
    min-width: 220px;   
}

.nameBox{
    background: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    width: 40px!important;
    min-width: 40px!important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameBoxHead{
    width: 40px!important;
    min-width: 40px!important;
    height: 40px;
}