.box{
    
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    padding: 2px 2px 2px 10px;
    border: 1px solid rgba(209, 205, 205, 1);;
    background-color: #f1f1f1;
    box-shadow: rgb(170, 170, 170) 2px 2px 4px 0px;
    height: 40px;
    line-height: 40px;
}